<%= content_for :title, "Todo App | Sign in" %>
<h1 class="NewUsers-title"> Signin ! </h1>
<section class="UsersNew">
  <%= form_with url: sessions_path do |form| %>
  
  <div class="Form-section">
    <p class="FormInput-label">Email: </p>
    <%= form.email_field "user[email]", class: "Form-input" %>
  </div>
  <div class="Form-section">
    <p class="FormInput-label">Password: </p>
    <%= form.password_field "user[password]", class: "Form-input" %>
  </div>
  <div class ="Form-section">
    <%= form.submit "Sign in", class: "Form-submit"%>
  </div>

  <% end %>
</section>
