<%= content_for :title, "Todo App | Sign up" %>
<h1 class="NewUsers-title"> Welcome New User ! </h1>
<section class="UsersNew">
  <%= form_with url: users_path do |form| %>
   <div class="Form-section">
     <p class="FormInput-label">First Name: </p>
     <%= form.text_field "user[first_name]", class: "Form-input" %>
   </div>
  <div class="Form-section">
     <p class="FormInput-label">Last Name: </p>
     <%= form.text_field "user[last_name]", class: "Form-input" %>
  </div>
  <div class="Form-section">
    <p class="FormInput-label">Email: </p>
    <%= form.email_field "user[email]", class: "Form-input" %>
  </div>
  <div class="Form-section">
    <p class="FormInput-label">Password: </p>
    <%= form.password_field "user[password]", class: "Form-input" %>
  </div>
  <div class ="Form-section">
    <%= form.submit "Sign up", class: "Form-submit"%>
  </div>
  <% end %>
</section>