<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <% if @current_user %>
    <div class = "UserHeader-container">
     <p class="UserHeader">
       <%= image_tag "userIcon.png", class: "TodoItem-userIcon" %><%= @current_user.first_name %>
    </p>
       <%= form_with(url: "/signout", class: "TodoItem-signOut",method: "delete") do %>
              <%= image_submit_tag("signOut.png", class: "TodoItem-signOutIcon")%>
      <% end %>
   <% end %>
   </div>
   <% if flash[:error] %>
    <p class="Flash-error">
   <%= flash[:error] %>
</p>
<% end %>
    <%= yield %>
  </body>
</html>
